<div class="container">
    <div class="row">
        <div class="col-12">
            <% @coupons.each do |coupon| %>
            <p><a href="/coupons/<%= coupon.id %>" >
                <% if coupon.seller %><%= coupon.seller.vendor %> - <% end %>
                <% if coupon.brand %><%= coupon.brand.brand_title %> - <% end %>
                <% if coupon.sneaker %><%= coupon.sneaker.title %> - <% end %>
                <%= coupon.coupon_title %></a></p>
            <% end %>
        </div>
    </div>
</div> 
