 <div class="container">
     <section class="slide1">
    		<div class="wrap-slick1">
    			<div class="slick1">
    			    <div class="item-slick1 item1-slick1" style="background-image: url(https://res.cloudinary.com/hqfexni0y/image/upload/v1546956804/home.jpg);">
                        <div class="wrap-content-slide1 flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-30">
    						<p class="caption2-slide1 l-text1 t-center">
    							RECHERCHE TA PAIRE DE SNEAKERS
    						</p>
    						<div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <form class="card card-sm">
                                    <%= form_for_filterrific(
                                          @filterrific, 
                                          url: sneakers_path, 
                                          html: { id: :manual_filterrific_form }
                                      ) do |f| %>
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <%= f.text_field(
                                          :search_sneakers_ref,
                                          class: 'filterrific-periodically-observed form-control form-control-lg form-control-borderless',
                                          placeholder: "Référence"
                                        ) %>
                                        </div>
                                        <div class="col">
                                             <%= f.text_field(
                                          :search_brand,
                                          class: 'filterrific-periodically-observed form-control form-control-lg form-control-borderless',
                                          placeholder: "Marque"
                                        ) %>
                                        </div>
                                        <div class="col">
                                            <%= f.text_field(
                                          :search_title,
                                          class: 'filterrific-periodically-observed form-control form-control-lg form-control-borderless',
                                          placeholder: "Modèle"
                                        ) %>
                                        </div>
                                        
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <%= f.submit '   Chercher   ', class:'btn btn-lg btn-succes' %>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                    <% end %>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                            </div>
    					</div>
    			    </div>
    		    </div>
    		</div>
    </section>
</div>

<div class="container m-t-50 m-b-100">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Les dernières sneakers</h1>
        </div>
    </div>
    <div class="row">
        <% @shoes.each do |sneaker| %>
                <div class="col-md-3">
                    <a href="/sneakers/<%= sneaker.id %>">
                        <p class="text-center">
                        <%= image_tag (sneaker.img_url), class: 'img-fluid' %></p>
                        <p><%= sneaker.brand %> - 
                        <%= sneaker.title %> - 
                        <%= sneaker.color %> - 
                        <%= sneaker.sneakers_ref %>
                    </a></p>
                </div>
        <% end %>
    </div>
</div>


<div class="container">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://res.cloudinary.com/hqfexni0y/image/upload/v1546959890/slider1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block p-b-200">
            <h1 class="caption2-slide1 l-text1 t-center">Nouveautés 2019</h1>
            <a class="btn btn-primary m-t-50" href="/sneakers" role="button">Voir le shop</a>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/hqfexni0y/image/upload/v1546959890/slider2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block p-b-200">
            <h1 class="caption2-slide1 l-text1 t-center">Nouveautés 2019</h1>
            <a class="btn btn-primary m-t-50" href="/sneakers" role="button">Voir le shop</a>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/hqfexni0y/image/upload/v1546962751/slider3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block p-b-200">
            <h1 class="caption2-slide1 l-text1 t-center">Nouveautés 2019</h1>
            <a class="btn btn-primary m-t-50" href="/sneakers" role="button">Voir le shop</a>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

