<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-inline">
                <li class="list-inline-item"><%= link_to "43einhalb", "https://www.43einhalb.com/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Allike", "https://www.allikestore.com/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Asphaltgold",  "https://asphaltgold.de/de/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "BSTN",  "https://www.bstn.com/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Caliroots",  "https://caliroots.fr/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Dandy Fellow",  "https://www.dandyfellow.com/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Footshop",  "https://www.footshop.fr/fr/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Forty Tree",  "https://fortytree.de/", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "HHV",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "JDSport",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Monox",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Nike FR",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Noirfoncé",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Overkill",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Schrittmacher",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Schuhdealer",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Size Official",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "SlamJamSocialism",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Sneakerstudio",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Sneakersnstuff",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Sneakerworldshop",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Solebox",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Solekitchen",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Stickabush",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Street Connexion",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Suede Store",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "TheGoodWillOut",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Vrients",  "", :target => "_blank" %></li>
                <li class="list-inline-item"><%= link_to "Zupport",  "", :target => "_blank" %></li>
            </ul>
        </div>
    </div>
</div>


