<div class="container">
	<div class="row m-b-250">
		<% @releases.each do |r| %>
			<div class="col-md-3 m-t-50 m-b-250">
					<div class="position-absolute">
					<a href="/sneakers/<%= r.id %>">
						<%= image_tag (r.img_url), class:'img-fluid' %>
	          		<p><%= r.title %></p></a>
	          		</div>
	          		<% @i = 0 %>
	          		<% r.calendars.each do |c| %>
		          		<% if @i < 1 %>
							<time class="icon">
							  <strong><%= c.release_date.to_datetime.strftime("%B") %></strong>
							  <span><%= c.release_date.to_datetime.strftime("%d") %></span>
							</time>
							<% @i += 1 %>
						<% end %>
					<% end %>
	        </div>
	        <div class=" mobile-calendar">
			</div>
        <% end %>
	<div class="m-b-100">
	</div>
	</div>
</div>