<div class="container">
	<div class="row m-t-50 m-b-250">
		<% @i = 0 %>
		<% @releases.each do |release| %>
			<% if @i < 1 %>
			<div class="col-md-3">
					<div class="position-absolute">
					<a href="/sneakers/<%= release.sneaker.id %>">
	          		<%= image_tag release.sneaker.img_url, class:'img-fluid' %>
	          		<p><%= release.sneaker.title %></p></a>
	          		</div>
					<time class="icon">
					  <strong><%= release.release_date.strftime("%B") %></strong>
					  <span><%= release.release_date.strftime("%d") %></span>
					</time>
	        </div>
	        <% @i += 1 %>
	        <% end %>
        <% end %>
	<div class="m-b-100">
	</div>
	</div>
</div>
