<div class="container">
  <div class="row">
    <div class="col-md-12 text-center title">
      <h2><%= @calendars.id %> - <%= @calendars.seller_id %> - <%= @calendars.sneaker_id %> - <%= @calendars.release_link %> - <%= @calendars.release_price %>€</h2>
    </div>
  </div>
</div>  

<% if @current_admin %>

<div class="container">    
<div class="row">
    <h3>Modifier la sortie</h3>
            <%= form_tag "/calendar/#{@calendars.id}", method: "patch" do %>
                <form>
                  <div class="form-group">
                    <select name="sneaker_id" class="form-control border">
                    <% @sneakers.each do |sneaker| %>
                    <option value="<%= sneaker.id %>"><%= sneaker.sneakers_ref %> - <%= sneaker.brand %> - <%= sneaker.title %></option>
                    <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <select name="seller_id" class="form-control border">
                    <% @sellers.each do |seller| %>
                    <option value="<%= seller.id %>"><%= seller.vendor %> - <%= seller.country %></option>
                    <% end %>
                    </select>
                  </div>
                   <div class="form-group">
                    <input type="datetime-local" value="<%= @calendars.release_date %>" class="form-control border" name="release_date" />
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control border" value="<%= @calendars.release_link %>" name="release_link" />
                  </div>
                  <div class="form-group">
                    <input type="number" step="0.01" class="form-control border" value="<%= @calendars.release_price %>" name="release_price" />
                  </div>
                  <button type="submit" class="btn btn-primary">Modifier la sortie</button>
                </form>
            <% end %>
</div>

<div class="row">
<%= form_tag "/calendar/#{@calendars.id}", method: "delete" do %>
  <button type="submit" class="btn btn-primary">Supprimer la sortie</button>
<% end %>
</div>

<div class="row">
<p><a href="/calendar">Retourner à l’index</a></p>
</div>

</div>

<% end %>