<div class="container">
    <div class="row">
        <ul class="list-inline mx-auto">
            <li class="list-inline-item">A </li>
            <li class="list-inline-item">B </li>
            <li class="list-inline-item">C </li>
            <li class="list-inline-item">D </li>
            <li class="list-inline-item">E </li>
            <li class="list-inline-item">F </li>
            <li class="list-inline-item">G </li>
            <li class="list-inline-item">H </li>
            <li class="list-inline-item">I </li>
            <li class="list-inline-item">J </li>
            <li class="list-inline-item">K </li>
            <li class="list-inline-item">L </li>
            <li class="list-inline-item">M </li>
            <li class="list-inline-item">N </li>
            <li class="list-inline-item">O </li>
            <li class="list-inline-item">Q </li>
            <li class="list-inline-item">R </li>
            <li class="list-inline-item">S </li>
            <li class="list-inline-item">T </li>
            <li class="list-inline-item">U </li>
            <li class="list-inline-item">V </li>
            <li class="list-inline-item">W </li>
            <li class="list-inline-item">X </li>
            <li class="list-inline-item">Y </li>
            <li class="list-inline-item">Z </li>
        </ul>
    </div>
    <div class="row">
        <ul class="list-inline">
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>A</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "A" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>B</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "B" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>C</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "C" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>D</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "D" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>E</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "E" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>F</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "F" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>G</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "G" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>H</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "H" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %><% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>I</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "I" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1 id="z">J</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "J" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>K</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "K" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>L</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "L" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>M</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "M" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>N</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "N" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>O</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "O" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>P</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "P" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %><% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>Q</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "Q" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>R</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "R" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>S</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "S" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>T</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "T" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>U</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "U" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>V</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "V" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>W</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "W" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>X</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "X" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>Y</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "Y" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
                <% @i = 0 %>
                <% @brands.each.each do |brand| %>
                    <% if @i < 1 %>
                    <h1>Z</h1>
                    <% @i += 1 %>
                    <% end %>
                    <% if brand.brand_title.chars.first == "Z" %>
                        <li class="list-inline-item">
                            <a href="/brands/<%= brand.id %>" ><%= brand.brand_title %></a>
                        </li>
                    <% end %>
                <% end %>
        </ul>
    </div>
</div>

