<h1>Les sneakers</h1>

<% @sneakers.each do |sneaker| %>
 <p><a href="/sneakers/<%= sneaker.id %>">
    <%= sneaker.id %>
    <%= sneaker.sneakers_ref %>
    <%= sneaker.brand %>
    <%= sneaker.title %>
    <%= sneaker.color %></a></p>
<% end %>


            
<%= paginate @sneakers %>


