<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
              <div>
                Ref
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_sneakers_ref,
                  class: 'filterrific-periodically-observed'
                ) %>
              </div>
              <%= f.submit 'Filter' %>
            <% end %>
            
            <%= render(
              partial: 'sneakers/list',
              locals: { sneakers: @sneakers }
            ) %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Les sneakers</h1>
        </div>
    </div>
    <div class="row">
        <% @sneakers.each do |sneaker| %>
            <div class="col-md-3">
                <p class="text-center"><a href="/sneakers/<%= sneaker.id %>">
                    <%= image_tag (sneaker.img_url), class: 'img-fluid' %>
                    <%= sneaker.brand %> - 
                    <%= sneaker.title %> - 
                    <%= sneaker.color %> - 
                    <%= sneaker.sneakers_ref %>
                </a></p>
            </div>
        <% end %>
    </div>
</div>