<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <%= form_for_filterrific @filterrific do |f| %>
              <div>
                Référence
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_sneakers_ref,
                  class: 'filterrific-periodically-observed',
                  placeholder: "Référence"
                ) %>
              </div>
              <div>
                Marque
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_brand,
                  class: 'filterrific-periodically-observed',
                  placeholder: "Marque"
                ) %>
              </div>
              <div>
                Modèle
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_title,
                  class: 'filterrific-periodically-observed',
                  placeholder: "Modèle"
                ) %>
              </div>
              <div>
                Couleur
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_color,
                  class: 'filterrific-periodically-observed',
                  placeholder: "Couleur"
                ) %>
              </div>
                  <%= f.submit 'Filter' %>
                  <%= link_to(
                  'Reset filters',
                  reset_filterrific_url,
                  ) %>
              </div>
              <%# add an automated spinner to your form when the list is refreshed %>
            
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Les sneakers</h1>
        </div>
    </div>
    <div class="row">
        <% @sneakers.each do |sneaker| %>
            <div class="col-md-3">
                <p class="text-center"><a href="/sneakers/<%= sneaker.id %>">
                    <%= image_tag (sneaker.img_url), class: 'img-fluid' %>
                    <%= sneaker.brand %> - 
                    <%= sneaker.title %> - 
                    <%= sneaker.color %> - 
                    <%= sneaker.sneakers_ref %>
                </a></p>
            </div>
        <% end %>
    </div>
</div>