<div class="container">
  <div class="row">
    <div class="col-md-12 text-center title">
      <h2><%= @sneakers.sneakers_ref %> - <%= @sneakers.brand %> - <%= @sneakers.title %> - <%= @sneakers.color %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @sneakers.img_url, class:'img-fluid' %>
    </div>
    <div class="col-md-8">
      <h1>SHOPS</h1>
          <% @stocks.each do |stock| %>
              <h5><%= stock.seller %> - taille : <%= stock.size %> - <%= stock.price %>€ <a href="<%= stock.offer_link %>" class="btn btn-primary btn-xs" role="button" aria-pressed="true">VOIR L'OFFRE</a>
          <% end %>
    </div>
  </div>
</div>    

<% if @current_admin %>

<div class="container">    

<h1>Modifier la sneaker</h1>

<div class="row">
    <%= form_tag "/sneakers/#{@sneakers.id}", method: "patch" do %>
  <p><input type="text" value="<%= @sneakers.sneakers_ref %>" name="sneakers_ref" /></p> 
  <p><input type="text" value="<%= @sneakers.brand %>" name="brand" /></p>
  <p><input type="text" value="<%= @sneakers.title %>"  name="title" /></p>
  <p><input type="text" value="<%= @sneakers.color %>"  name="color" /></p>
  <p><input type="text" value="<%= @sneakers.img_url %>"  name="img_url" /></p>
  <p><input type="submit" value="Mettre à jour la sneaker" /></p>
<% end %>
</div>

<div class="row">
<%= form_tag "/sneakers/#{@sneakers.id}", method: "delete" do %>
  <input type="submit" value="Supprimer la sneaker" />
<% end %>
</div>

<div class="row">
<p><a href="/sneakers">Retourner à l’index</a></p>
</div>

</div>

<% end %>