<div class="container">
  <div class="row">
    <div class="col-md-4 text-left title">
      <h6><%= @sneakers.brand %></h6>
      <h5><%= @sneakers.title %></h5>
      <p><%= @sneakers.sneakers_ref %></p>
    </div>
    <div class="col-md-8">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag @sneakers.img_url, class:'img-fluid' %>
        </div>
        <div class="col-md-6">
          <% if @sneakers.img_url2 %>
          <%= image_tag @sneakers.img_url2, class:'img-fluid' %>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if @sneakers.img_url3 %>
          <%= image_tag @sneakers.img_url3, class:'img-fluid' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8">
          <h3>Disponible dans <%= @sellers.size %> <% if @sellers.size > 1 %> shops <% else %> shop <% end %></h3>
        </div>
        <div class="col-md-4">
        </div>
      </div>
        <div class="row">  
          <% @sellers.each do |seller| %>
                 <div class="col-md-6 m-t-20">
                  <h5><%= image_tag seller.logo_url, size: '40', class:'img-fluid' %> <%= seller.vendor %></h5>
                 </div>
                 <div class="col-md-6 m-t-20">
                  <% seller.stocks.each do |s| %>
                    <% if @i<1 %>
                    <h5><% if s.old_price > s.price %><del><%= s.old_price %>€</del>  <%= s.price %>€ <% else %> <%= s.price %>€ <% end %><a href="<%= s.offer_link %>" class="btn btn-primary btn-xs btn-seva " target="_blank" role="button" aria-pressed="true">Voir l'offre</a></h5>
                    <% @i += 1 %>
                    <% end %>
                  <% end %>
                 </div>
                <ul class="list-inline">
                <% seller.stocks.each do |s| %>
                <li class="list-inline-item m-l-20"><p><%= s.size %></p></li>
                <% end %>
                </ul>
          <% end %>
        </div>
    </div>
  </div>
</div>


<% if @current_admin %>

<div class="container m-t-200">    

<h1>Modifier la sneaker</h1>

<div class="row">
    <%= form_tag "/sneakers/#{@sneakers.id}", method: "patch" do %>
  <p><input type="text" value="<%= @sneakers.sneakers_ref %>" name="sneakers_ref" /></p> 
  <p><input type="text" value="<%= @sneakers.brand %>" name="brand" /></p>
  <p><input type="text" value="<%= @sneakers.title %>"  name="title" /></p>
  <p><input type="text" value="<%= @sneakers.color %>"  name="color" /></p>
  <p><input type="text" value="<%= @sneakers.img_url %>"  name="img_url" /></p>
  <p><input type="text" value="<%= @sneakers.img_url2 %>"  name="img_url2" /></p>
  <p><input type="text" value="<%= @sneakers.img_url3 %>"  name="img_url3" /></p>
  <p><input type="submit" value="Mettre à jour la sneaker" /></p>
<% end %>
</div>

<div class="row">
<%= form_tag "/sneakers/#{@sneakers.id}", method: "delete" do %>
  <input type="submit" value="Supprimer la sneaker" />
<% end %>
</div>

<div class="row">
<p><a href="/sneakers">Retourner à l’index</a></p>
</div>

</div>

<% end %>