<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @sneakers.img_url, class:'img-fluid' %>
    </div>
    <div class="col-lg-4">
      <h1><%= @sneakers.sneakers_ref %></h1>
      <h1><%= @sneakers.brand %></h1>
      <h3><%= @sneakers.title %></h3>
      <h5><%= @sneakers.color %></h5>
    </div>
    <div class="col-lg-4">
      <h1>SHOPS</h1>
      <% @stocks.each do |stock| %>
      <h3><a href="<%= stock.offer_link  %>" ><%= stock.seller %> / Prix : <%= stock.price %> / Frais livraison (euros) : <%= stock.shipping_cost %> / Délai livraison (jours) : <%= stock.shipping_time %></a></h3>
      <% end %>
    </div>
  </div>
</div>    

<% if @current_admin %>

<div class="container">    

<h1>Modifier la sneaker</h1>

<div class="row">
    <%= form_tag "/sneakers/#{@sneakers.id}", method: "patch" do %>
  <p><input type="text" value="<%= @sneakers.sneakers_ref %>" name="sneakers_ref" /></p> 
  <p><input type="text" value="<%= @sneakers.brand %>" name="brand" /></p>
  <p><input type="text" value="<%= @sneakers.title %>"  name="title" /></p>
  <p><input type="text" value="<%= @sneakers.color %>"  name="color" /></p>
  <p><input type="text" value="<%= @sneakers.img_url %>"  name="img_url" /></p>
  <p><input type="submit" value="Mettre à jour la sneaker" /></p>
<% end %>
</div>

<div class="row">
<%= form_tag "/sneakers/#{@sneakers.id}", method: "delete" do %>
  <input type="submit" value="Supprimer la sneaker" />
<% end %>
</div>

<div class="row">
<p><a href="/sneakers">Retourner à l’index</a></p>
</div>

</div>

<% end %>