<!DOCTYPE html>
<html>
  <head>
    <title>Comparateur de prix de Sneakers et Street Wear - SEVA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" %>
    
    
  </head>
    
    <!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/seva.bzh/" class="topbar-social-item fab fa-facebook"></a>
					<a href="https://www.instagram.com/seva.bzh/" class="topbar-social-item fab fa-instagram"></a>
					<a href="https://twitter.com/seva_bzh" class="topbar-social-item fab fa-twitter"></a>
					<a href="https://www.youtube.com/channel/UCnmFFggxadFfYhLNNOhXCPw" class="topbar-social-item fab fa-youtube"></a>
				</div>

				<span class="topbar-child1">
					Économise jusqu'à 50% sur l'achat de tes sneakers
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						contact@seva.bzh
					</span>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<%= image_tag "logo.png" %>
				</a>

				<!-- Menu -->
				
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
							  <%= link_to "Home", '/' %>
							</li>

							<li>
								<%= link_to "Sneakers", '/sneakers' %>
							</li>

							<li>
								<%= link_to "Contact", '/contact' %>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- DEBUT DU TEST -->
		
			<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<%= image_tag "logo.png" %>
			</a>
			<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
							  <%= link_to "Home", '/' %>
							</li>

							<li>
								<%= link_to "Sneakers", '/sneakers' %>
							</li>

							<li>
								<%= link_to "Contact", '/contact' %>
							</li>
						</ul>
					</nav>
				</div>
		</div>

		<!-- Menu Mobile -->
		
		
		<!-- FIN DU TEST -->
							
		  </header>
  
  <body>
  	 <!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<!-- Your customer chat code -->
		<div class="fb-customerchat"
		  attribution=setup_tool
		  page_id="983389791795280"
		  theme_color="#f3d1bb"
		  logged_in_greeting="Salut, tu veux une super info ?"
		  logged_out_greeting="Salut, tu veux une super info ?">
		</div>
		
  	<div><%= flash[:info] %></div>
    <%= yield %>
  </body>
  
  	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Des questions ? Faites le nous savoir, promis on mord pas.
					</p>

					<div class="flex-m p-t-30">
						<a href="https://www.facebook.com/seva.bzh/" class="fs-18 color1 p-r-20 fab fa-facebook"></a>
						<a href="https://www.instagram.com/seva.bzh/" class="fs-18 color1 p-r-20 fab fa-instagram"></a>
						<a href="https://twitter.com/seva_bzh" class="fs-18 color1 p-r-20 fab fa-twitter"></a>
						<a href="https://www.youtube.com/channel/UCnmFFggxadFfYhLNNOhXCPw" class="fs-18 color1 p-r-20 fab fa-youtube"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Menu
				</h4>

				<ul>
							<li class="p-b-9">
							  <%= link_to "Home", '/' %>
							</li>

							<li class="p-b-9">
								<%= link_to "Sneakers", '/sneakers' %>
							</li>

							<li class="p-b-9">
								<%= link_to "Contact", '/contact' %>
							</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Shops
				</h4>

				<ul>
							<li class="p-b-9">
							  <%= link_to "43einhalb", 'https://www.43einhalb.com/' %>
							</li>

							<li class="p-b-9">
								<%= link_to "asphaltgold.de", 'https://asphaltgold.de/de/' %>
							</li>

							<li class="p-b-9">
								<%= link_to "Allike", 'https://www.allikestore.com/' %>
							</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
							<li class="p-b-9">
							  <%= link_to "Report a bug", '/contact' %>
							</li>

							<li class="p-b-9">
								<%= link_to "Contact", '/contact' %>
							</li>

							<li class="p-b-9">
								<%= link_to "FAQs", '/faq' %>
							</li>

							<li class="p-b-9">
								<%= link_to "Partenariat", '/contact' %>
							</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<!-- Begin Mailchimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
			    #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
			    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
			       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="https://bzh.us7.list-manage.com/subscribe/post?u=0fd662f29411248b0b9f0ad9a&amp;id=a758e926ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			   <div id="mc_embed_signup_scroll">
			    <p>Inscris toi pour ne rien rater de l'actualité sneakers</p>
			    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
			   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0fd662f29411248b0b9f0ad9a_a758e926ae" tabindex="-1" value=""></div>
			   <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			   </div>
			</form>
			</div>

				<!--End mc_embed_signup-->
			</div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 Seva. | Website by <a href="https://maximebielmann.fr" target="_blank">Maxime</a>
			</div>
		</div>
	</footer>
</html>
